.App {
  text-align: center;
}
html {
  overflow-y: scroll;
}

.floating-content {
  width: 55%;
  margin: 0 auto;
  margin-top: 2%;
  background-image: url("../images/dark_triangles.png");
  background-repeat: repeat;
  background-size: contain;
  border-radius: 25px;
  padding: 5px;
  white-space: normal;
  word-wrap: break-word;
  min-width: 250px;
}

.blurb {
  padding: 0% 20%;
  color: #fff;
}

body {
  background-image: url("../images/circuits.png");
  background-repeat: repeat;
}

// For the image in the header
.header {
  display: inline-block;
  padding-top: 20px;
}
.headerImageLogo {
  display: "inline";
  width: 60px;
}

.headerTitleText {
  display: inline;
  vertical-align: top; /* here */
}

// For the images in the footer that link to external sites
.linkLogoImage {
  width: 25px;
  margin: 0 8px;
}
