/* Font Styling */
.quicksand-text {
  font-family: "Quicksand", sans-serif;
}
.pacifico-text {
  font-family: "Pacifico", cursive;
}

p,
h1 {
  color: #ffffff;
}

h3 {
  margin: 0%;
}

h4 {
  color: #ffffff;
  margin: 0%;
}

h5 {
  margin: 2%;
  color: #b0dc0f;
  padding: 0;
}

h6 {
  color: #ffffff;
}

/* unvisited link */
a:link {
  color: rgb(190, 190, 190);
}

/* visited link */
a:visited {
  color: rgb(190, 190, 190);
}

/* mouse over link */
a:hover {
  color: #b0dc0f;
}

/* selected link */
a:active {
  color: rgb(190, 190, 190);
}

table.table-content tr td {
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
  border-bottom: 25px solid transparent;
}
