/* Font Styling */
.quicksand-text {
  font-family: "Quicksand", sans-serif;
}
.pacifico-text {
  font-family: "Pacifico", cursive;
}

p,
h1 {
  color: #ffffff;
}

/* unvisited link */
a:link {
  color: gray;
}

/* visited link */
a:visited {
  color: gray;
}

/* mouse over link */
a:hover {
  color: #b0dc0f;
}

/* selected link */
a:active {
  color: gray;
}

table.table-content tr td {
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
  border-bottom: 25px solid transparent;
}
