.niceLookingList {
  width: 500px;
  margin: 0 auto;
  text-align: left;
}

ul {
  margin: 0;
}

ul li {
  /* Bullet color */
  color: red;
  list-style-type: disc;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  display: block;
  width: 500px;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

li a:hover {
  font-size: 20px;
  background: #f6f6f6;
}

.more-info {
  display: none;
  font-size: 10px;
}

a:hover .more-info {
  display: inline-block;
}
