.niceLookingList {
  width: 75%;
  margin: 0 auto;
  text-align: left;
  color: #b0dc0f;
  list-style-type: disc;
}

ul {
  margin-left: 18%;
  max-width: 50%;
  text-align: left;
}

.portfolioListItem:last-child {
  border: none;
}

.portfolioListItem a {
  text-decoration: none;
  display: block;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

.portfolioListItem:hover {
  font-weight: bold;
  color: #f7ba0c;
}
